<p id="notice"><%= notice %></p>

<p>
  <strong>Source:</strong>
  <%= @photo.source %>
</p>

<p>
  <strong>Wt ht:</strong>
  <%= @photo.wt_ht %>
</p>

<p>
  <strong>Title:</strong>
  <%= @photo.title %>
</p>

<p>
  <strong>Caption:</strong>
  <%= @photo.caption %>
</p>

<p>
  <strong>Loc taken:</strong>
  <%= @photo.loc_taken %>
</p>

<p>
  <strong>Date taken:</strong>
  <%= @photo.date_taken %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @photo.rating %>
</p>

<p>
  <strong>User:</strong>
  <%= @photo.user %>
</p>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
